<?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="chocolatey" />
	<package id="chocolatey-compatibility.extension" />
	<package id="chocolatey-core.extension" />
	<package id="git" />
	<package id="git.install" />
	<package id= "git-lfs.install" />
	<package id="pandoc" />
	<package id="poshgit" />
	<package id="vlc" />
	<package id="vlc.install" />
	<package id="obs" />
	<package id="youtube-dl gui" />
	<package id="musicbee" />
	<package id="calibre" />
</packages>
