<?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="adb" />
	<package id="autohotkey" />
	<package id="calibre" />
	<package id="chocolatey" />
	<package id="chocolatey-compatibility.extension" />
	<package id="chocolatey-core.extension" />
	<package id="ffmpeg" />
	<package id="gimp" />
	<package id="git" />
	<package id="git.install" />
	<package id="git-lfs.install" />
	<package id="pandoc" />
	<package id="poshgit" />
	<package id="putty" />
	<package id="vlc" />
	<package id="vlc.install" />
	<package id="obs" />
	<package id="youtube-dl-gui" />
	<package id="musicbee" />
	<package id="python3" />
	<package id="firefox" />
	<package id="signal" />
	<package id="7zip" />
	<package id="javaruntime" />
	<package id="spotify" />
	<package id="k-litecodecpackfull" />
	<package id="irfanview" />
	
</packages>
